
@font-face {
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: normal;
    src: local(''), url('../fonts/GoogleSans-Regular.otf') format('woff');
    }
    

    @font-face {
    font-family: 'Google Sans Bold';
    font-style: normal;
    font-weight: normal;
    src: local(''), url('../fonts/GoogleSans-Bold.otf') format('woff');
    }
    @font-face {
        font-family: 'Google Sans BoldItalic';
        font-style: normal;
        font-weight: normal;
        src: local(''), url('../fonts/GoogleSans-BoldItalic.otf') format('woff');
        }
    @font-face {
        font-family: 'Google Sans Italic';
        font-style: normal;
        font-weight: normal;
        src: local(''), url('../fonts/GoogleSans-Italic.otf') format('woff');
        }
