.menu-mobile, .ic-close-menu-mb, .menu-mobile-2 {
  display: none; }

@media only screen and (max-width: 1550px) {
  .khoi-ngiep .img-pattern-home {
    max-width: 250px;
    bottom: 0;
    top: inherit; }

  .img-pattern-home {
    max-width: 200px; }

  .section-hang-muc .col-md-4:nth-child(2) .hang-muc {
    margin-left: 0; }

  .time-doing p {
    font-size: 24px;
    line-height: 27px; }
    .time-doing p span {
      font-size: 55px;
      line-height: 55px; }

  .tab-library .nav-item {
    padding: 12px 10px 12px 0;
    font-size: 14px; }

  .header-1 {
    padding: 10px 20px 10px 20px; }
    .header-1 .logo-default img {
      height: 34px; }

  .tab-service .tab-content .row {
    padding: 50px 50px 20px 50px; }

  h2 {
    font-size: 32px;
    line-height: 45px !important; }

  .box-value {
    min-height: auto; }

  .bieu-phi-table .custom-scrollbar {
    overflow-x: scroll; }

  .info-why-choose h3 span {
    font-size: 26px; }

  .title-section h2 span {
    font-size: 32px; }

  .list-post-library p {
    padding-right: 0px; }

  .item-service {
    align-items: start; }
    .item-service a {
      line-height: 26px;
      font-size: 18px; }

  h1 {
    font-size: 48px; }

  .cate-services .item-service p {
    line-height: 22px; }
  .cate-services .col-md-3 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }

  .banner-home .info-banner-left {
    padding-left: 50px; }
    .banner-home .info-banner-left h1 {
      font-size: 32px; }
      .banner-home .info-banner-left h1 span {
        font-size: 32px; }
        .banner-home .info-banner-left h1 span:last-child {
          font-size: 32px; }

  .tab-service .tab-content .row {
    padding: 100px 50px 50px 50px; }
    .tab-service .tab-content .row .col-md-3 {
      -ms-flex: 0 0 33%;
      flex: 0 0 33%;
      max-width: 33%; }

  .box-value .large-text {
    font-size: 150px; }

  .info-campaign {
    padding-right: 145px; }

  .info-right-campaign .btn-common-white {
    font-size: 16px; }

  .info-why-choose p {
    padding: 10px 0 0 0; }

  .why-choose ul li {
    padding-left: 110px; }
    .why-choose ul li img {
      height: 90px; }

  .call-to-action-btn {
    display: block;
    bottom: 50px;
    position: fixed;
    right: 5px;
    z-index: 1 !important; }
    .call-to-action-btn .coccoc-alo-ph-circle {
      width: 70px;
      height: 70px;
      top: 55px;
      left: 55px;
      position: absolute;
      background-color: transparent;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%;
      border: 2px solid #11A63E;
      opacity: .1;
      -webkit-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
      -moz-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
      -ms-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
      -o-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
      animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
      -webkit-transition: all .5s;
      -moz-transition: all .5s;
      -o-transition: all .5s;
      transition: all .5s; }
    .call-to-action-btn .coccoc-alo-phone {
      background-color: transparent;
      width: 90px;
      height: 90px;
      margin-right: 30px;
      cursor: pointer;
      z-index: 200000 !important;
      -webkit-backface-visibility: hidden;
      -webkit-transform: translateZ(0);
      -webkit-transition: visibility .5s;
      -moz-transition: visibility .5s;
      -o-transition: visibility .5s;
      transition: visibility .5s;
      right: 150px;
      top: 30px; }
    .call-to-action-btn .coccoc-alo-phone.coccoc-alo-green .coccoc-alo-ph-circle-fill {
      background-color: #11A63E;
      box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.11);
      opacity: .75 !important; }
    .call-to-action-btn .coccoc-alo-ph-circle-fill {
      width: 60px;
      height: 60px;
      top: 60px;
      left: 60px;
      position: absolute;
      background-color: #000;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%;
      border: 2px solid transparent;
      opacity: .1;
      -webkit-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
      -moz-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
      -ms-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
      -o-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
      animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
      -webkit-transition: all .5s;
      -moz-transition: all .5s;
      -o-transition: all .5s;
      transition: all .5s; }
    .call-to-action-btn .coccoc-alo-ph-img-circle {
      width: 40px;
      height: 40px;
      top: 70px;
      left: 70px;
      position: absolute;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%;
      -webkit-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
      -moz-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
      -ms-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
      -o-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
      animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out; }
    .call-to-action-btn .coccoc-alo-phone.coccoc-alo-green .coccoc-alo-ph-img-circle {
      background-color: #11A63E; }
    .call-to-action-btn .coccoc-alo-phone.coccoc-alo-green .coccoc-alo-ph-circle {
      border-color: #11A63E;
      opacity: .6; }
    .call-to-action-btn .coccoc-alo-phone.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-ph-circle,
    .call-to-action-btn .coccoc-alo-phone.coccoc-alo-green:hover .coccoc-alo-ph-circle {
      border-color: #11A63E;
      opacity: .5; }
    .call-to-action-btn .coccoc-alo-phone.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-ph-circle-fill,
    .call-to-action-btn .coccoc-alo-phone.coccoc-alo-green:hover .coccoc-alo-ph-circle-fill {
      background-color: #11A63E;
      opacity: .75 !important; }
    .call-to-action-btn .coccoc-alo-phone.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-ph-img-circle,
    .call-to-action-btn .coccoc-alo-phone.coccoc-alo-green:hover .coccoc-alo-ph-img-circle {
      background-color: #11A63E; }
  @-moz-keyframes coccoc-alo-circle-anim {
    0% {
      transform: rotate(0) scale(0.5) skew(1deg);
      opacity: 0.1; }
    30% {
      transform: rotate(0) scale(0.7) skew(1deg);
      opacity: 0.5; }
    100% {
      transform: rotate(0) scale(1) skew(1deg);
      opacity: 0.1; } }
  @-webkit-keyframes coccoc-alo-circle-anim {
    0% {
      transform: rotate(0) scale(0.5) skew(1deg);
      opacity: 0.1; }
    30% {
      transform: rotate(0) scale(0.7) skew(1deg);
      opacity: 0.5; }
    100% {
      transform: rotate(0) scale(1) skew(1deg);
      opacity: 0.1; } }
  @-o-keyframes coccoc-alo-circle-anim {
    0% {
      transform: rotate(0) scale(0.5) skew(1deg);
      opacity: 0.1; }
    30% {
      transform: rotate(0) scale(0.7) skew(1deg);
      opacity: 0.5; }
    100% {
      transform: rotate(0) scale(1) skew(1deg);
      opacity: 0.1; } }
  @keyframes coccoc-alo-circle-anim {
    0% {
      transform: rotate(0) scale(0.5) skew(1deg);
      opacity: 0.1; }
    30% {
      transform: rotate(0) scale(0.7) skew(1deg);
      opacity: 0.5; }
    100% {
      transform: rotate(0) scale(1) skew(1deg);
      opacity: 0.1; } }
  @-moz-keyframes coccoc-alo-circle-fill-anim {
    0% {
      transform: rotate(0) scale(0.7) skew(1deg);
      opacity: 0.2; }
    50% {
      transform: rotate(0) scale(1) skew(1deg);
      opacity: 0.2; }
    100% {
      transform: rotate(0) scale(0.7) skew(1deg);
      opacity: 0.2; } }
  @-webkit-keyframes coccoc-alo-circle-fill-anim {
    0% {
      transform: rotate(0) scale(0.7) skew(1deg);
      opacity: 0.2; }
    50% {
      transform: rotate(0) scale(1) skew(1deg);
      opacity: 0.2; }
    100% {
      transform: rotate(0) scale(0.7) skew(1deg);
      opacity: 0.2; } }
  @-o-keyframes coccoc-alo-circle-fill-anim {
    0% {
      transform: rotate(0) scale(0.7) skew(1deg);
      opacity: 0.2; }
    50% {
      transform: rotate(0) scale(1) skew(1deg);
      opacity: 0.2; }
    100% {
      transform: rotate(0) scale(0.7) skew(1deg);
      opacity: 0.2; } }
  @keyframes coccoc-alo-circle-fill-anim {
    0% {
      transform: rotate(0) scale(0.7) skew(1deg);
      opacity: 0.2; }
    50% {
      transform: rotate(0) scale(1) skew(1deg);
      opacity: 0.2; }
    100% {
      transform: rotate(0) scale(0.7) skew(1deg);
      opacity: 0.2; } }
  @-moz-keyframes coccoc-alo-circle-img-anim {
    0% {
      transform: rotate(0) scale(1) skew(1deg); }
    10% {
      transform: rotate(-25deg) scale(1) skew(1deg); }
    20% {
      transform: rotate(25deg) scale(1) skew(1deg); }
    30% {
      transform: rotate(-25deg) scale(1) skew(1deg); }
    40% {
      transform: rotate(25deg) scale(1) skew(1deg); }
    50% {
      transform: rotate(0) scale(1) skew(1deg); }
    100% {
      transform: rotate(0) scale(1) skew(1deg); } }
  @-webkit-keyframes coccoc-alo-circle-img-anim {
    0% {
      transform: rotate(0) scale(1) skew(1deg); }
    10% {
      transform: rotate(-25deg) scale(1) skew(1deg); }
    20% {
      transform: rotate(25deg) scale(1) skew(1deg); }
    30% {
      transform: rotate(-25deg) scale(1) skew(1deg); }
    40% {
      transform: rotate(25deg) scale(1) skew(1deg); }
    50% {
      transform: rotate(0) scale(1) skew(1deg); }
    100% {
      transform: rotate(0) scale(1) skew(1deg); } }
  @-o-keyframes coccoc-alo-circle-img-anim {
    0% {
      transform: rotate(0) scale(1) skew(1deg); }
    10% {
      transform: rotate(-25deg) scale(1) skew(1deg); }
    20% {
      transform: rotate(25deg) scale(1) skew(1deg); }
    30% {
      transform: rotate(-25deg) scale(1) skew(1deg); }
    40% {
      transform: rotate(25deg) scale(1) skew(1deg); }
    50% {
      transform: rotate(0) scale(1) skew(1deg); }
    100% {
      transform: rotate(0) scale(1) skew(1deg); } }
  @keyframes coccoc-alo-circle-img-anim {
    0% {
      transform: rotate(0) scale(1) skew(1deg); }
    10% {
      transform: rotate(-25deg) scale(1) skew(1deg); }
    20% {
      transform: rotate(25deg) scale(1) skew(1deg); }
    30% {
      transform: rotate(-25deg) scale(1) skew(1deg); }
    40% {
      transform: rotate(25deg) scale(1) skew(1deg); }
    50% {
      transform: rotate(0) scale(1) skew(1deg); }
    100% {
      transform: rotate(0) scale(1) skew(1deg); } }
    .call-to-action-btn .img-dat-lich-mb .coccoc-alo-ph-img-circle {
      background: url(../images/ic-dat-lich-mb.svg) no-repeat center center; }
    .call-to-action-btn .img-hot-line .coccoc-alo-ph-img-circle {
      background: url(../images/ic-call-mb.svg) no-repeat center center; } }
@media only screen and (max-width: 1201px) {
  .contact-right .btn-dat-hen, .contact-right .hotline {
    display: none; }

  .contact-right {
    padding-right: 50px; }

  .header-1 .menu nav {
    display: none; }

  header.show-menu .menu nav {
    display: block;
    position: fixed;
    left: 0;
    top: 54px;
    width: 100%;
    height: 100%;
    border-top: 1px solid #D9D9D9; }
    header.show-menu .menu nav ul {
      display: inline-block;
      width: 100%;
      padding-top: 30px;
      background-color: #fff;
      height: 100%; }
      header.show-menu .menu nav ul li {
        width: 100%;
        padding: 20px 0; }
        header.show-menu .menu nav ul li a {
          font-size: 24px;
          font-family: 'Google Sans', sans-serif; }
        header.show-menu .menu nav ul li::before {
          font-size: 20px;
          right: 20px;
          top: 8px;
          z-index: 1; }
        header.show-menu .menu nav ul li .sub-menu {
          display: none; }
        header.show-menu .menu nav ul li.show-sub-menu::before {
          transform: rotateX(180deg); }
        header.show-menu .menu nav ul li.show-sub-menu .sub-menu {
          display: block;
          background-color: #f8f9fa;
          width: 100%;
          box-shadow: none;
          border-top: 0;
          left: 0;
          top: 15px;
          position: relative;
          -webkit-transition: none;
          transition: none;
          padding: 10px 0 0; }
          header.show-menu .menu nav ul li.show-sub-menu .sub-menu li {
            margin-bottom: 0;
            width: 100%;
            padding-left: 20px; }
            header.show-menu .menu nav ul li.show-sub-menu .sub-menu li a {
              font-size: 18px; }
  header.show-menu .ic-menu-mb {
    display: none; }
  header.show-menu .ic-close-menu-mb {
    display: block; }

  .menu-mobile-2 {
    display: block;
    position: fixed;
    right: 20px;
    top: 20px; }
    .menu-mobile-2 .ic-menu-mb {
      height: 20px; }
    .menu-mobile-2 .ic-close-menu-mb {
      height: 35px;
      top: -7px;
      position: absolute;
      right: 0; } }
@media only screen and (max-width: 950px) {
  .khoi-ngiep .img-pattern-home {
    display: none; }

  .section-hang-muc .row.mt-30 {
    margin-top: 20px; }
  .section-hang-muc .col-md-4:nth-child(2) {
    padding-right: 0; }
    .section-hang-muc .col-md-4:nth-child(2) .hang-muc {
      border-radius: 8px 0 0 8px; }
  .section-hang-muc .col-md-4:nth-child(3) {
    padding-left: 0; }
    .section-hang-muc .col-md-4:nth-child(3) .hang-muc {
      border-radius: 0 8px 8px 0; }
  .section-hang-muc .time-doing {
    display: inherit;
    margin-bottom: 0;
    width: fit-content;
    margin: 0 auto;
    border-radius: 4px 4px 0 0;
    padding: 10px 20px 5px 20px;
    border: 1px solid #11A63E;
    border-bottom: 0; }
    .section-hang-muc .time-doing p {
      text-align: center; }
      .section-hang-muc .time-doing p br {
        display: none; }
      .section-hang-muc .time-doing p span {
        font-size: 40px;
        line-height: 40px; }
  .section-hang-muc .col-md-4:first-child {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .section-hang-muc .col-md-4 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }

  .info-contact-box {
    padding: 0; }

  .info-contact .avatar-thumb a {
    padding-top: 46%; }

  .box-date-time-lib .list-post-library ul li {
    font-size: 14px;
    margin: 0 25px; }
    .box-date-time-lib .list-post-library ul li span {
      font-size: 14px; }
  .box-date-time-lib .list-post-library .btn-common-white {
    max-width: fit-content; }

  .breadcrumbs {
    padding-bottom: 10px;
    display: inline-block; }

  .back-to-link {
    margin-bottom: 20px; }

  .section-library .sticky-box h5 {
    margin-bottom: 10px; }
  .section-library .col-md-2, .section-library .col-md-8 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .section-library .tab-library .nav-tabs {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    height: auto;
    white-space: nowrap;
    width: 100%;
    flex-wrap: unset;
    justify-content: left; }
  .section-library .tab-content {
    margin-top: 30px; }

  .list-post-library p {
    padding-right: 10px;
    font-size: 14px; }

  .section-detail-blogs .col-md-3, .section-detail-blogs .col-md-9 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .section-detail-blogs .tab-content-blog {
    padding-right: 0; }
    .section-detail-blogs .tab-content-blog ul {
      display: flex;
      overflow-x: scroll;
      height: auto;
      white-space: nowrap;
      width: 100%;
      flex-wrap: unset;
      justify-content: left; }
      .section-detail-blogs .tab-content-blog ul li {
        margin: 10px;
        padding-right: 10px;
        border-right: 1px solid #D9D9D9; }

  .head-blogs-cate {
    padding-bottom: 0; }

  .slider-item-blogs h2 {
    font-size: 30px; }

  .list-blogs-cate .col-md-3 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }

  .accordion {
    margin-top: 0; }

  .hh-videos .overlay {
    width: 100%;
    margin: 0 auto;
    height: 375px;
    display: none; }
  .hh-videos .video-cans {
    height: 375px; }
  .hh-videos .overlay._active iframe {
    height: 375px; }

  .cam-ket .col-md-3 {
    -ms-flex: 0 0 33%;
    flex: 0 0 33%;
    max-width: 33%; }

  .chi-tiet-phi {
    padding: 0 10px; }
    .chi-tiet-phi .list-check {
      padding: 20px; }

  .tieu-de-phi {
    padding: 40px 40px 0 65px; }
    .tieu-de-phi img {
      left: 20px; }

  .process .box-process {
    margin-bottom: 15px; }
  .process .col-md-2 {
    -ms-flex: 0 0 33%;
    flex: 0 0 33%;
    max-width: 33%; }

  .section-hang-muc {
    padding-bottom: 0; }

  .banner-head-detail .flex-center {
    display: inline-block; }
    .banner-head-detail .flex-center img {
      max-width: 100%; }
  .banner-head-detail .banner-head-right {
    width: 100%;
    padding-right: 0;
    margin-bottom: 20px; }

  .hang-muc {
    padding: 30px 20px; }
    .hang-muc.bg-blue {
      padding-left: 20px; }

  .pattern-hang-muc {
    height: 200px; }

  .section-intro-services .row {
    flex-direction: column-reverse; }
  .section-intro-services .col-md-6 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }

  .title-section h2 {
    line-height: 42px;
    font-size: 32px; }
    .title-section h2 span {
      font-size: 32px; }

  .banner-home {
    overflow: hidden; }
    .banner-home .flex-center {
      display: initial; }
    .banner-home .info-banner-left, .banner-home .info-banner-right {
      width: 100%; }
    .banner-home .info-banner-right {
      padding-top: 30px; }

  .tab-system .nav-tabs .nav-link {
    padding: 15px 20px; }

  .tab-service .tab-content .row {
    padding: 35px 50px 10px 50px; }
    .tab-service .tab-content .row .col-md-3 {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%; }

  .box-value {
    display: inherit; }
    .box-value .large-text {
      font-size: 100px;
      padding-right: 0; }
    .box-value .info-value {
      margin-top: 30px;
      display: inline-block; }

  .count-number {
    display: inline-block; }

  .list-number {
    width: 50%;
    float: left;
    margin-bottom: 30px; }
    .list-number:nth-child(3) {
      width: 200px;
      height: 200px; }
    .list-number .nubmer-growth {
      padding: 20px;
      height: 198px;
      width: 198px; }

  .list-partner {
    padding-top: 0; }
    .list-partner img {
      height: 35px;
      margin: 10px; }

  .img-pattern-home {
    display: none; }

  .info-campaign {
    padding-right: 20px; }
    .info-campaign .title-section h2 {
      font-size: 24px; }
      .info-campaign .title-section h2 span {
        font-size: 24px; }

  .text-campaign .img-quote {
    height: 50px; }
  .text-campaign h4 {
    font-size: 20px; }

  .khoi-ngiep .col-md-8 {
    -ms-flex: 0 0 55%;
    flex: 0 0 55%;
    max-width: 55%; }
  .khoi-ngiep .col-md-4 {
    -ms-flex: 0 0 45%;
    flex: 0 0 45%;
    max-width: 45%; }

  .box-countdown p:last-child {
    margin-left: 0; }
  .box-countdown #timer span {
    font-size: 35px; }

  .why-choose ul {
    margin-bottom: 0; }
    .why-choose ul li {
      padding-left: 65px;
      padding-right: 20px;
      margin-bottom: 15px; }
      .why-choose ul li img {
        height: 50px; }
      .why-choose ul li h3 {
        font-size: 20px; }
        .why-choose ul li h3 span {
          font-size: 20px; }

  .info-why-choose p {
    font-size: 16px;
    line-height: 24px; }

  .call-to-action .info-call-to-action .text-cta {
    padding-right: 0; }
    .call-to-action .info-call-to-action .text-cta h3 {
      line-height: 35px;
      font-size: 26px; }
  .call-to-action .info-call-to-action img {
    max-width: 350px; }

  .section-list-services h4 {
    font-size: 18px; }

  footer .info-footer-left {
    padding-right: 0; } }
@media only screen and (max-width: 767px) {
  h1 {
    font-size: 32px !important; }

  h3 {
    font-size: 26px !important; }

  h4 {
    font-size: 20px !important; }

  .section-hang-muc .col-md-4 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
    .section-hang-muc .col-md-4:nth-child(2) {
      padding-right: 15px; }
      .section-hang-muc .col-md-4:nth-child(2) .hang-muc {
        border-radius: 8px 8px 0 0; }
    .section-hang-muc .col-md-4:nth-child(3) {
      padding-left: 15px; }
      .section-hang-muc .col-md-4:nth-child(3) .hang-muc {
        border-radius: 0 0 8px 8px; }

  .section-library .tab-content, .section-detail-blogs .editor-body .tab-content {
    max-width: 100%; }

  .list-blogs-cate {
    padding-top: 30px; }

  .slider-item-blogs .item.box-item {
    display: inherit; }
    .slider-item-blogs .item.box-item h2 {
      padding-right: 0; }

  .head-blogs-cate .owl-dots {
    text-align: center; }
    .head-blogs-cate .owl-dots .owl-dot {
      height: auto; }

  .section-contact .row {
    flex-direction: column-reverse; }

  .section-detail-blogs .tab-content-blog, .section-library .sticky-box {
    padding-left: 0; }

  .box-date-time-lib .list-post-library {
    text-align: center; }
    .box-date-time-lib .list-post-library .btn-common-white {
      margin: 10px auto 0 auto; }

  .khoi-ngiep .btn-action {
    text-align: center; }
    .khoi-ngiep .btn-action a {
      margin-top: 10px; }

  .box-countdown {
    text-align: center;
    width: 100%;
    padding-bottom: 20px; }
    .box-countdown #timer {
      justify-content: center; }

  .service-home .custom-scrollbar {
    overflow-x: scroll; }

  .bieu-phi {
    padding-top: 40px;
    padding-bottom: 30px; }

  .value-home .row.mt-40 {
    margin-top: 10px; }

  .header-1 {
    padding: 15px 20px 10px 20px; }

  .banner-home .info-banner-left h5 {
    font-size: 18px;
    line-height: 26px; }

  .select-items div, .select-selected {
    font-size: 14px; }

  .section-contact {
    padding-bottom: 40px !important; }

  .box-shadow {
    padding: 20px; }

  .info-contact {
    margin-top: 20px; }
    .info-contact .avatar-thumb {
      margin-bottom: 10px; }
    .info-contact .hotline-contact {
      font-size: 24px; }
      .info-contact .hotline-contact img {
        height: 30px;
        margin-bottom: 10px; }

  .tab-content-blog ul li {
    margin: 5px 10px !important; }
    .tab-content-blog ul li a {
      font-size: 14px; }

  .head-lib h3 {
    font-size: 24px;
    max-width: 100%; }

  .box-date-time-lib .list-post-library ul li {
    margin: 0;
    margin-right: 14px;
    margin-bottom: 5px; }

  .list-post-library {
    display: inline-block;
    padding: 20px 0; }

  .section-library .pagging-page.mt-40 {
    margin-top: 0;
    margin-bottom: 20px; }

  .btn-action-lib {
    display: flex;
    max-width: 100%;
    justify-content: left;
    margin-top: 15px; }
    .btn-action-lib a {
      margin-right: 20px;
      font-size: 14px;
      padding: 10px;
      max-width: 50%;
      width: 100%; }
      .btn-action-lib a:last-child {
        margin-right: 0; }

  .list-tag {
    padding-top: 25px; }
    .list-tag ul li a {
      font-size: 14px; }

  .info-call-to-action .btn-action a {
    font-size: 16px; }

  .pagging-page ul li a, .pagging-page ul li span {
    width: 35px;
    height: 35px;
    margin-right: 5px;
    font-size: 14px;
    padding: 5px; }
    .pagging-page ul li a.active, .pagging-page ul li span.active {
      padding-top: 5px; }

  .pagging-page .pagination i {
    font-size: 14px; }

  .pagging-page.mt-40.mb-30 {
    margin: 20px 0 10px 0; }

  .list-blogs-cate .item-news {
    position: relative;
    margin-bottom: 20px;
    padding-left: 150px; }
    .list-blogs-cate .item-news h5 {
      padding-top: 0; }
      .list-blogs-cate .item-news h5 .title-news {
        -webkit-line-clamp: inherit;
        font-size: 16px; }
    .list-blogs-cate .item-news .name-cate {
      margin-top: 0; }
  .list-blogs-cate .avatar-thumb {
    position: absolute;
    left: 15px;
    width: 120px; }
  .list-blogs-cate .col-md-3 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }

  .danh-gia-kh {
    padding-top: 40px !important; }

  .info-campaign {
    padding: 15px; }

  .info-right-campaign {
    display: none; }

  .khoi-ngiep {
    padding-bottom: 0; }

  #faq .card .card-header .btn-header-link {
    font-size: 16px;
    padding: 10px 25px;
    padding-left: 0; }
    #faq .card .card-header .btn-header-link:after {
      right: 0;
      top: 6px; }

  #faq .card .card-body {
    font-size: 14px;
    padding-left: 0;
    line-height: 22px; }

  .hh-videos {
    width: 100%; }
    .hh-videos .video-cans, .hh-videos .overlay {
      height: 195px; }
    .hh-videos .overlay._active iframe {
      height: 195px; }

  .cam-ket .row {
    justify-content: center; }
  .cam-ket .col-md-3 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }

  .box-camket {
    display: inline-block;
    text-align: center;
    margin-bottom: 20px; }
    .box-camket p {
      padding-left: 0;
      font-size: 16px;
      margin-bottom: 0; }
    .box-camket img {
      margin-bottom: 10px; }

  .table-bieu-phi p {
    font-size: 16px; }

  .table-thanh-phan td {
    font-size: 14px; }
  .table-thanh-phan thead th {
    font-size: 15px; }

  .time-doing p {
    font-size: 18px; }

  .bieu-phi .col-md-4 {
    padding: 0; }
  .bieu-phi .chi-tiet-phi {
    margin-bottom: 10px; }

  .section-hang-muc .col-md-6 {
    padding-left: 0;
    padding-right: 0; }
  .section-hang-muc .hang-muc {
    border-radius: 0; }

  .process .col-md-2 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }

  .box-process {
    min-height: auto; }
    .box-process img {
      height: 55px;
      margin-bottom: 10px; }

  .banner-head-detail h1 {
    margin-top: 0; }

  .cate-services {
    margin: 30px 0; }
    .cate-services .item-service p {
      -webkit-line-clamp: inherit; }
    .cate-services .item-service.services-large {
      padding-left: 120px;
      min-height: auto !important; }
      .cate-services .item-service.services-large .avatar-thumb {
        width: 90px; }

  .cate-services .col-md-3 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .cate-services .info-item-services a {
    margin-bottom: 10px; }
  .cate-services .info-item-services a {
    margin-bottom: 10px; }

  .item-service a {
    line-height: 22px;
    font-size: 16px;
    padding-left: 0;
    padding-right: 20px; }
    .item-service a:first-child {
      padding-right: 0; }

  .banner-home {
    padding-top: 80px; }
    .banner-home .btn-search-service-pc {
      display: none; }
    .banner-home .btn-search-service-mb {
      display: block; }
    .banner-home .info-banner-left {
      padding-left: 20px; }

  .box-search .custom-select {
    padding-left: 1px; }
  .box-search button {
    max-width: fit-content;
    padding-right: 30px;
    padding-left: 20px;
    padding-top: 15px; }
  .box-search .select-selected:after {
    right: 0; }

  .tab-system .nav-tabs .nav-link {
    padding: 10px 10px;
    font-size: 14px; }

  .tab-service .tab-content .row {
    padding: 35px 20px 10px 20px; }
    .tab-service .tab-content .row .col-md-3 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
      padding: 0 10px; }

  .section-hang-muc .list-check {
    margin-bottom: 0; }
    .section-hang-muc .list-check li:last-child {
      margin-bottom: 0; }

  .cate-services .item-service.services-large .info-item-service {
    padding-top: 0; }

  .why-choose ul li {
    padding-right: 0; }
    .why-choose ul li p {
      padding-right: 0; }

  .item-service {
    margin-right: 0;
    margin-bottom: 15px; }

  .info-campaign .title-section h2 span {
    font-size: 22px; }

  .title-section h2 {
    line-height: 32px !important;
    font-size: 24px; }

  .why-choose ul li h3 {
    font-size: 20px !important; }

  .value-home {
    padding-bottom: 0; }

  .detail-info-aut h5 {
    font-size: 16px; }

  .info-aut .detail-info-aut p {
    font-size: 14px; }

  .box-value {
    padding: 30px;
    padding-top: 35px;
    margin-bottom: 10px;
    min-height: auto;
    height: inherit;
    position: relative; }
    .box-value h3 {
      position: absolute;
      top: 25px;
      left: 30px; }
    .box-value .large-text {
      display: none; }
    .box-value p {
      line-height: 24px;
      margin-bottom: 0; }

  .list-number {
    margin-bottom: 10px; }
    .list-number p {
      font-size: 14px; }
    .list-number h2 {
      font-size: 32px; }
    .list-number:nth-child(3) {
      width: 150px;
      height: 150px; }
    .list-number .nubmer-growth {
      padding: 5px;
      padding-top: 20px;
      height: 148px;
      width: 148px; }
      .list-number .nubmer-growth h2 {
        font-size: 22px; }

  .khoi-ngiep .col-md-8 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }

  .title-section h2 span {
    font-size: 22px; }

  .khoi-ngiep {
    padding-top: 0; }
    .khoi-ngiep .col-md-8 {
      padding-left: 0; }
    .khoi-ngiep .col-md-4 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
      padding-right: 0;
      border-radius: 0; }

  .info-campaign {
    padding: 20px 15px 0 20px; }

  .box-countdown #timer span {
    font-size: 30px; }

  .text-campaign .img-quote {
    display: none; }

  .slider-items p {
    font-size: 15px;
    padding-left: 35px; }
    .slider-items p .quote-slide {
      height: 24px; }

  .info-aut {
    margin-left: 0;
    margin-top: 20px; }

  .why-choose ul {
    margin-top: 25px; }
    .why-choose ul li {
      width: 100%; }
      .why-choose ul li:last-child {
        margin-bottom: 0; }

  .call-to-action .info-call-to-action {
    display: flex;
    flex-flow: column-reverse;
    text-align: center; }
    .call-to-action .info-call-to-action .text-cta h3 {
      line-height: 26px;
      font-size: 20px !important; }
    .call-to-action .info-call-to-action img {
      max-width: 300px;
      margin: 0 auto;
      text-align: center; }
    .call-to-action .info-call-to-action .btn-action {
      margin-bottom: 10px; }

  .section-list-services {
    padding-top: 20px; }
    .section-list-services .col-md-3:last-child ul {
      margin-bottom: 0; }

  .list-services-detail {
    margin-top: 10px;
    margin-bottom: 22px; }
    .list-services-detail li {
      margin-bottom: 8px;
      font-size: 13px;
      width: 50%;
      float: left; }

  footer {
    padding-bottom: 10px; }
    footer .col-md-3 ul {
      margin-bottom: 0; }
      footer .col-md-3 ul li {
        margin-bottom: 5px;
        width: 50%;
        float: left; }
        footer .col-md-3 ul li a {
          font-size: 13px; }
    footer .info-footer-left .logo-ft img {
      height: 30px; }
    footer .info-footer-left .flex-center {
      margin-bottom: 20px; }
      footer .info-footer-left .flex-center a {
        font-size: 14px;
        margin-right: 20px; }

  .header-1 {
    height: 55px; }
    .header-1 .logo-default img {
      height: 24px; }

  .menu-mobile-2 {
    top: 18px; }

  header.show-menu .menu nav {
    top: 55px; }
    header.show-menu .menu nav ul {
      padding-top: 10px; } }
@media only screen and (max-width: 350px) {
  .box-process h5 {
    font-size: 16px; }

  .section-hang-muc .time-doing p {
    font-size: 16px; }
    .section-hang-muc .time-doing p span {
      font-size: 30px;
      line-height: 40px; }

  .list-blogs-cate .item-news .name-cate {
    font-size: 14px; } }

/*# sourceMappingURL=responsive.css.map */
